body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  font-weight: bold;
}

button:hover {
  transform: translateY(-1px);
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2 {
    color: #740001;
}

@media (max-width: 768px) {
  .detalhes-container {
    flex-direction: column;
    align-items: center;
  }
  .detalhes-container img {
    width: 80% !important;
    max-width: 300px;
  }
  .favoritos-lista {
    flex-direction: column;
  }
}